<head>
    <link rel="stylesheet" href="~/css/ModelWindow.css" asp-append-version="true" />
</head>

@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="panel">
        <div class="panel-header">
            Сортировка
            </div>
            <label>Вагоны</label>
                <select id="enumSelect"></select>
            </div>
        </div>
    </div>
    
    <div id="Modal"></div>

    <div id="TableMain"></div>
</body>



@section Scripts 
{
    <script>

        $(document).ready(function () {
            $('#TableMain').load("/Home/GetTablePartial")

            $.ajax({
                url: '/Home/GetStateСarriage', // Замените на ваш адрес контроллера
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data && data.length > 0) {
                        var enumSelect = $('#enumSelect');
                        $.each(data, function (index, value) {
                            enumSelect.append('<option value="' + value + '">' + value + '</option>');
                        });
                    } else {
                        console.error("Ошибка: Нет данных для отображения.");
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Ошибка при выполнении запроса:", status, error);
                }
            });
        });

        // $.ajax({
        //     type: "POST",
        //     url: "@Url.Action("PostName")",
        //     dataType: "json",
        //     data: { name: "Jannick" },
        //     success: function (result) {
        //         console.log(result);
        //     },
        //     error: function (req, status, error) {
        //         console.log(status)
        //     }
        // });
    </script>
}
