<head>
    <link rel="stylesheet" href="~/css/ModelWindow.css" asp-append-version="true" />
    <script src="~/js/MainPage.js" asp-append-version="true"></script>
</head>

@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="panel">
        <div class="panel-header">
            Сортировка
            </div>
                <select id="enumSelect"></select>
            </div>
        </div>
    </div>
    
    <div id="Modal"></div>

    <div id="TableMain"></div>
</body>


@section Scripts 
{
    <script>

        // $.ajax({
        //     type: "POST",
        //     url: "@Url.Action("PostName")",
        //     dataType: "json",
        //     data: { name: "Jannick" },
        //     success: function (result) {
        //         console.log(result);
        //     },
        //     error: function (req, status, error) {
        //         console.log(status)
        //     }
        // });
    </script>
}
