<link rel="stylesheet" href="~/css/ModelWindow.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Resetting Silos";
}

<body>
    <div id="Modal"></div>
    <div id="TableResettingSilos"></div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
            $('#TableResettingSilos').load("/ResettingSilos/GetTablePartial")
    })
</script>
<