<link rel="stylesheet" href="~/css/ModelWindow.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Resetting Silos";
}

<body>
    <div id="TableMain"></div>
</body>

<script>
$(document).ready(function () {
        $('#TableResettingSilos').load("/ResettingSilos/GetTablePartial")
})
</script>